statemachine/reservation.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Reserve",
  "States": {
    "Reserve": {
      "Type": "Task",
      "Resource": "${ReserveFunctionArn}",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 15,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        }
      ],
      "Next": "Reserved"
    },
    "Reserved": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.payload.status",
          "StringEquals": "SUCCESS",
          "Next": "Confirm"
        },
        {
          "Variable": "$.payload.status",
          "StringEquals": "FAILED",
          "Next": "Cancel"
        }
      ],
      "Default": "Cancel"
    },
    "Confirm": {
      "Type": "Task",
      "Resource": "${ConfirmFunctionArn}",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 1
        }
      ],
      "Next": "EndState"
    },
    "Cancel": {
      "Type": "Task",
      "Resource": "${CancelFunctionArn}",
      "ResultPath": "$",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 1
        }
      ],
      "Next": "EndState"
    },
    "EndState": {
      "Type": "Succeed",
      "Comment": "State machine execution finished."
    }
  }
}
