statemachine/reservation.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Reserve",
  "States": {
    "Reserve": {
      "Type": "Task",
      "Resource": "${ReserveFunctionArn}",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 15,
          "MaxAttempts": 5,
          "BackoffRate": 1.5
        }
      ],
      "Next": "Reserved"
    },
    "Reserved": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.payload.id",
          "NumericLessThanEquals": 50,
          "Next": "Confirm"
        }
      ],
      "Default": "Cancel"
    },
    "Confirm": {
      "Type": "Task",
      "Resource": "${ConfirmFunctionArn}",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 1
        }
      ],
      "End": true
    },
    "Cancel": {
      "Type": "Task",
      "Resource": "${CancelFunctionArn}",
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 1
        }
      ],
      "End": true
    }
  }
}